/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.greenColor{
    color: green;
}
.redColor{
    color: red;
}

/* shipping_details media query */
@media (max-width:600px){
    .shopping_cart{
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width:1100px){
    .search_button{
        width: 8vmax;
        height: 5.5vmax;
    }
}
@media (max-width:970px){
    .search_button{
        height: 5.5vmax;
    }
    /* Cart-Items media query */
    .Cart_items{
        width: 80vw;
    }
    .cart_product{
        display: flex;
        flex-direction: column;
    }
    .Price_summery{
        width: 40vw;
        margin-left: 25vmax;
    }
}
@media (max-width:950px){
    .search_button{
        height: 60px;
        width: 9vmax;
    }
}
@media (max-width:800px){
    .search_button{
        height: 60px;
        width: 9vmax;
    }
}
@media (max-width:750px){
    .search_button{
        width:80px;
    }
}